h1 {
    text-align: center;
    margin: 1rem;
}

.bookCard {
    max-width: 20rem;
    margin: 1rem;
}

.bookImage {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.buttonGroup {
    display: flex;
    justify-content: space-around;

    button {
        width: 5rem;
    }
}