h1 {
    text-align: center;
}

.bookCard {
    cursor: pointer;
    width: 18rem;
    margin: 1rem;
}

.buttonGroup {
    display: flex;
    justify-content: space-around;

    button {
        width: 5rem;
    }
}