.userForm {
    margin: 5rem auto;
    width: 30rem;

    h1 {
        margin-bottom: 2rem;
    }

    label {
        text-align: justify;
    }

    button {
        width: 5rem;
        margin: auto;
    }

    span {
        color: #0d6efd;
        cursor: pointer;
        margin-left: .5rem;
    }
}