.app {
    display: flex;
    flex-direction: column;
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

main {
    display: flex;
    justify-content: center;
    height: 90vh;
}

ul {
    display: flex;
    height: 10vh;
    padding-right: 2rem;
}

li {
    list-style: none;
    margin: 1rem;
}

a {
    text-decoration: none;
}